{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section>
<section class="hero d-flex flex-column justify-content-center align-items-center" >
    <div class="container" style="margin-top: 2%;" >
    <div class="row row- justify-content-center" >
        <div class="col-8">

    <form method="post">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            <meta http-equiv='refresh' content='0; URL={{ path('adminspace') }}'>
        </div>
        </form>

        </div>
        </div>
        </div>
    {% endif %}
 <h2 style="margin: 30px ;color: #9fcdff" class="text-center" > Register  </h2>  

 {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


  {{ form_start(registrationForm) }} 
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password' 
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
    <button  type="submit" style="background: #28a74557" class="btn btn-lg btn-success"> Register </button> 
    {{ form_end(registrationForm) }}

  </section>
{% endblock %}
