{% extends 'base.html.twig' %}

{% block title %}New Message!{% endblock %}   
   {% block body %}
    {{ form_start(form) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.tel) }}
{{ form_widget(form.message) }}
    <button class="form-control " id="submit-button" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% endblock %}